img {
  max-height: 200px;
  max-width: 200px;
  margin-left: 8px;
  margin-bottom: 8px;
}

.spinner {
  display: table;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}
