a {
    text-decoration: none;
    color: white;
  }

  a:hover,
  a:active {
    color: lightgray;
  }

  li {
    list-style: none;
    padding-left: 20px;
  }

  .item-menu {
    font-size: 20px;
  }

