<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">LOGO</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="loggedIn()">
        <a routerLink="/add-product">{{ 'ADD_PRODUCT' | translate }}</a>
      </li>
      <li *ngIf="loggedIn()">
        <a routerLink="/add-product-category">{{ 'ADD_PRODUCT_CATEGORY' | translate }}</a>
      </li>
      <li *ngIf="loggedIn()">
        <button mat-button [matMenuTriggerFor]="belowMenu" class="item-menu">{{ 'PRODUCTS' | translate }}</button>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <button mat-menu-item *ngFor="let category of productCategories$ | async" [routerLink]="['/products', category.name, category.id ]">{{ category.name }}</button>
        </mat-menu>
      </li>
      <li *ngIf="!loggedIn()">
        <button mat-button routerLink="/signup" class="item-menu">{{ 'SIGNUP' | translate }}</button>
      </li>
      <li *ngIf="!loggedIn()">
        <button mat-button routerLink="/login" class="item-menu">{{ 'LOGIN' | translate }}</button>
      </li>
      <li *ngIf="loggedIn()">
        <button mat-button (click)="logout()" class="item-menu">{{ 'LOGOUT' | translate }}</button>
      </li>
      <li>
        <button mat-button (click)="setLang('pl')" class="item-menu">PL</button>
      </li>
      <li>
        <button mat-button (click)="setLang('en')" class="item-menu">EN</button>
      </li>
    </ul>
  </div>
</mat-toolbar>

