<div class="container">
  <div fxLayout="column" class="header-page" fxLayoutGap="15px">
    <div>
      <p class="title-page">{{ "ADD_PRODUCT" | translate }}</p>
    </div>
    <div class="area-product">
      <mat-form-field class="input-style">
        <mat-label>{{ "NAME" | translate }}</mat-label>
        <input
          matInput
          #name="ngModel"
          [(ngModel)]="product.name"
          required
          minlength="3"
        />
        <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">{{
          "VALID_NAME" | translate
        }}</mat-error>
      </mat-form-field>

      <mat-form-field class="input-style">
        <mat-label>{{ "CATEGORY" | translate }}</mat-label>
        <mat-select
          #category="ngModel"
          [(ngModel)]="product.categoryId"
          required
        >
          <mat-option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="category.invalid">{{
          "VALID_CATEGORY" | translate
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="area-product">
      <mat-form-field class="input-style">
        <mat-label>{{ "PRICE" | translate }}</mat-label>
        <input matInput #price="ngModel" [(ngModel)]="product.price" required />
        <mat-error *ngIf="price.invalid && (price.dirty || price.touched)">{{
          "VALID_PRICE" | translate
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="area-product">
      <mat-form-field appearance="fill" class="description-textarea">
        <mat-label>{{ "DESCRIPTION" | translate }}</mat-label>
        <textarea
          matInput
          #description="ngModel"
          [(ngModel)]="product.description"
          required
          minlength="3"
        ></textarea>
        <mat-error
          *ngIf="
            description.invalid && (description.dirty || description.touched)
          "
          >{{ "VALID_DESCRIPTION" | translate }}</mat-error
        >
      </mat-form-field>
    </div>

    <div class="buttons-areas">
      <button
        mat-raised-button
        color="basic"
        class="button-form btn-options btn-submit"
        (click)="addProduct(product)"
      >
        {{ "SUBMIT" | translate }}
      </button>
      <button
        mat-raised-button
        color="basic"
        class="button-form btn-options"
        (click)="clear()"
      >
        {{ "CLEAR" | translate }}
      </button>
    </div>
  </div>
</div>
