.title-page {
  font-weight: 600;
  font-size: 25px;
}

.buttons-areas {
  padding-top: 20px;
}

.btn-options {
  margin: 10px;
}

.header-page {
  text-align: center;
}

.input-style {
  max-width: 250px;
  padding: 0px 10px 0px 20px;
  margin-bottom: -12px;
}

.area-product {
  text-align: center;
}

.description-textarea {
  width: 400px;
  padding: 0px 20px 0px 20px;
  margin-bottom: -12px;
}

@media only screen and (max-width: 600px) {
  .description-textarea {
    width: 180px;
  }
}
