img {
  height: 500px;
  width: 500px;
}

.spinner {
  display: table;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.product-details-container {
  text-align: center;
  padding-top: 80px;
}

@media only screen and (max-width: 600px) {
  img {
    height: 300px;
    width: 300px;
  }
}
