<section style="padding-top: 50px;">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <input type="text" matInput placeholder="{{ 'EMAIL' | translate }}" formControlName="email">
      <mat-error>{{ 'VALID_EMAIL' | translate }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="{{ 'YOUR_PASSWORD' | translate }}" formControlName="password">
      <mat-error>{{ 'MISSING_PASSWORD' | translate }}</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary"
      [disabled]="loginForm.invalid">{{ 'SUBMIT' | translate }}</button>
  </form>
</section>